# DATABASE
DATABASE_URL=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# REDIS
REDIS_URL=

# MINIO
MINIO_ENDPOINT=
MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# FRONTEND
NEXT_PUBLIC_API_URL=

# AI PROVIDERS
OPENAI_API_KEY=
GEMINI_API_KEY=
ANTHROPIC_API_KEY=
